.dung {
  padding: 20px;
  color: #333;

  h1 {
    text-align: center;
    color: #e74c3c;
    margin: 20px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch; // Ensures equal height for child elements

    &__left,
    &__right {
      flex: 1;
      min-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      // Optional: Set a min-height for better consistency
      min-height: 300px;

      img {
        width: 100%;
        height: 100%; // Ensures image takes full height of its container
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    &__left {
      img {
        width: 70%;
      }
    }

    &__right {
      flex-direction: column;
      justify-content: center;

      h2 {
        color: #3498db;
        margin-top: 20px;
      }

      &__ul {
        list-style-type: circle;
        padding-left: 20px;

        li {
          margin-bottom: 10px;
          font-size: 21px;
        }
      }
    }
  }

  &__certificate {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: contain;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  @media (max-width: 768px) {
    &__content {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      &__left,
      &__right {
        min-width: 100%;
        text-align: center;
        min-height: auto; // Allow the height to adjust for smaller screens
      }

      &__left img {
        height: auto;
        max-height: 300px;
      }
    }

    &__certificate {
      margin-top: 20px;
    }
  }
}
